body, html {
  height: 100%;
  font-family:'Times New Roman', Times, serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgba(101, 43, 124, 0.1);
  background-repeat: repeat; /* Repeat the background image */
}

body,
.container {
  margin: 0;
  padding: 0;
}

.main-content{
  font-size: larger;
  width: 75%;
  margin: 20px auto;
  gap: 20px;
  background-color: #fff; /* Set a background color for the gallery container */
  border-radius: 8px; /* Add a rounded border */
  padding: 40px;
  box-shadow: 0 2px 4px rgba(101, 43, 124, 0.1); /* Add a subtle box shadow */
}

h3 {
  margin-top: 0;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-bottom: 10px;
}

a {
  color: white;
  text-decoration: none;
}

hr{
  border-color: #652b7c;
}

.main-content p,
.main-content li{
  color: rgba(101, 43, 124, 0.8);
}

/* CSS styles for the logo */
.logo {
  margin-top: 300px;
  margin-left: 30px;
  margin-bottom: 20px;
  /* min-width: 200px; */
  width: 60%;
  height: auto;

}

/* CSS styles for the ribbon tabs */
.ribbon {
  display: flex;
  flex-wrap: wrap;
  background-color: #652b7c;
  padding: 10px;
  justify-content: center;
  align-items: center; /* Adjust the alignment as needed */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.ribbon.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  /* Add your additional styling properties for the fixed ribbon here */
}

.ribbon a .remaining-text {
  display: block;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ribbon a {
  display: inline-block;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: white;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: transform 0.3s ease;
}

.ribbon .tab-content {
  display: none;
  white-space: normal;
}


/* Hover/focus effect on tab */
.ribbon a:hover,
.ribbon a:focus {
  background-color: #a059bc;
  transform: translateY(-5px);
  border-radius: 8px;
}

/* CSS styles for the dropdown menus */

.dropdown-btn {
  position: relative;
  background-color: #652b7c;
  color: #a059bc;
  /* font-weight: bold; */
  padding: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px; /* Add margin to create space between dropdown menus */
}

/* Dropdown list styles */
/* Dropdown list styles */
.dropdown-content {
  position: absolute;
  background-color: #1b0922;
  min-width: 200px;
  max-width: 400px;
  overflow: auto;
  max-height: 500px;
  right: 0;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 500;
  display: none;
  border-radius: 20px;
}

.dropdown-content::-webkit-scrollbar {
  width: 0.5em;
  display: none;
}

.dropdown-content::-webkit-scrollbar-track {
  background-color: #1b0922;
}

.dropdown-content::-webkit-scrollbar-thumb {
  background-color: #a059bc;
  border-radius: 10px;
}

.dropdown-btn:focus + .dropdown-content,
.dropdown-btn:hover + .dropdown-content {
  display: block;
}

/* Dropdown list item styles */
.dropdown-content a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 8px 10px;
  font-size: 12px; /* Adjust the font size as needed */
  /* transition: background-color 0.3s ease; */
  transform: scale(1.1);
}
.dropdown-content a .remaining-text {
  display: block;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

/* Show the dropdown list on hover or focus */
.dropdown-btn:hover .dropdown-content,
.dropdown-btn:focus .dropdown-content {
  display: block;
  
}

/* Change background color of dropdown list items on hover */
.dropdown-content a:hover {
  background-color: #a059bc;
}

.container {
  display: flex;
  align-items: center;
  text-align: center;
  /* justify-content: space-between; */
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* CSS styles for the bottom section */
footer {
  background-color: #652b7c;
  color: white;
  padding: 10px; /* Reduce padding for a more compact look */
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  font-size: 20px; /* Set the font size for the footer content */
}

.bottom-section {
  background-color: #652b7c;
  padding: 20px 0; 
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.important-links,
.contact-us {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 10px; /* Reduce padding for a more compact look */
}

.bottom-section hr{
  border-color: rgba(255, 255, 255, 0.5) !important;
}
.important-links a,
.contact-us a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

.important-links a:hover {
  background-color: #652b7c;
  color: #fff;
}

.important-links a:hover:before {
  color: #fff;
}

/* Styles for the side panel */
.side-panel {
  background-color: #964F9F;
  color: #ffffff;
  padding: 20px;
  border-right: 1px solid #ddd;
  width: 20%;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto; /* Enable scrolling */
  box-shadow: 0 2px 4px rgba(101, 43, 124, 0.1);
  z-index: 1;
  overflow-x : hidden;
  
  margin-top: 40px;
  margin-bottom: 40px;

  border-radius: 8px; /* Add a rounded border */
  box-shadow: 0 2px 4px rgba(101, 43, 124, 0.8);

}

.side-panel-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 200px); /* Adjust the max height as needed */
  scrollbar-width: thin; /* Set the width of the scrollbar */
  scrollbar-color: rgba(61, 14, 81, 0.7) rgba(101, 43, 124, 1); /* Set the color of the scrollbar thumb and track */
  transition: scrollbar-color 0.3s ease; /* Add transition effect for a smooth change */
}

.side-panel-content::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.side-panel-content::-webkit-scrollbar-thumb {
  background-color: rgba(61, 14, 81, 0.7);
  border-radius: 8px;
}

.side-panel-content::-webkit-scrollbar-track {
  background-color: rgba(215, 139, 247, 0.563);
}

.side-panel-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(61, 14, 81, 0.9);
}

.side-panel-content::-webkit-scrollbar-thumb:active {
  background-color: rgba(61, 14, 81, 1);
}

.side-panel:focus-within .side-panel-content {
  scrollbar-color: rgba(61, 14, 81, 0.7) rgba(101, 43, 124, 1); /* Change the scrollbar color when the panel is in focus */
}

.side-panel .panel-heading {
  background-color: #ffffff;  
  color: #ffffff;  
  padding: 10px;  
  border-radius: 8px 8px 0 0; 
}

.side-panel hr {
  border-color: #fff;
}
.side-panel h2 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.side-panel ul {
  list-style-type: none; 
}

.side-panel ul li {
  position: relative; /* Create a positioning context */
  padding-left: -1em; 
}

/* Styles for the latest updates links */
.latest-update-btn {
  background-color: transparent;
  border: 1px solid #ffffffd2; /* Add a border to the button */
  border-radius: 8px; /* Add border radius for rounded corners */
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: left;
  width: 100%;
  padding: 5% ;
  transition: transform 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Include border-color in the transition */
}

.latest-update-btn:focus,
.latest-update-btn:hover {
  border-radius: 8px;
  border-color: #ffffffd2; /* Change border color on hover/focus */
  background-color: #c067cc;
  transform: scale(1.05) translateY(-2px);
  outline: none;
}

.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items:start;
}
