/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }
  .ribbon {
    flex-direction: column;
  }

  .important-links,
  .contact-us {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .bottom-section {
    padding: 0; /* Remove padding for small screens */
  }

  .contact-us h1 {
    font-size: 1.2rem; /* Adjust font size for small screens */
    margin-bottom: 5px;
  }

  .contact-us p,
  .contact-us li {
    font-size: 14px; /* Adjust font size for small screens */
  }
}

/* Adjustments for small screens */
@media screen and (max-width: 300px) {
  .logo{
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
  }

}
